<%- include("header") -%>

<h2>This is about page</h2>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex rerum eos fugit asperiores iusto maiores maxime nihil ipsa illo tempora ut, consectetur facilis optio, accusantium, provident atque odit sit excepturi.</p>

<%- include("footer") -%>